body 
{
    margin: 0;
}

.desktop
{
    width: 100vw;
    height: 100vh;

    background-image: url("bliss.jpg");
    background-size: cover;
    background-position: center;
    border: 5px solid red;
}